
.vscode
.vs
*/bin/**/*
*/obj/**/*
*/artifacts/**/*
*.lscache
artifacts
.*
!.github
!.editorconfig
publish
Tests/
Waterfall/Program2.cs
Waterfall



/worlds/
server.properties
/plugins/
resource_packs
permissions.json