
.vscode
.vs
*/bin/**/*
*/*/bin/**/*
*/obj/**/*
*/*/obj/**/*
*/artifacts/**/*
*.lscache
artifacts
.*
!.github
!.editorconfig
publish
Waterfall/Program2.cs
Waterfall
LoadTests
Client
Basalt.Benchmarks/*

/worlds/
server.properties
/plugins/
resource_packs
permissions.json
banned-players.json
nethernet-identity.pem
BedrockProtocol/README.md
